<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">IG Home</a></li>
  <li><a href="StructureDefinition-TestScript.html">TestScript</a></li>
  <li><a href="StructureDefinition-TestReport.html">TestReport</a></li>
  <li><a href="StructureDefinition-TestPlan.html">TestPlan</a></li>
  <li><a href="artifacts.html">Artifact Index</a></li>
</ul>      
